<% if @schedulers.empty? %>
<h1>Create your first Scheduler</h1>
<% else %>
<h1>Schedulers</h1>
<% end %>

<form id="scheduler-select">
    <select required="true" class="select-input">
        <option value="SocketPing">Socket Ping</option>
        <option value="Http">HTTP</option>
        <option value="Ssh">SSH</option>
    </select>
    <a class="create-btn" onclick="submitForm()">
        <span>Create</span>
        <img src="/images/dashboard/icons/create.svg">
    </a>
</form>

<div class="table-grid">
    <% @schedulers.each do |scheduler| %>
        <div class="table-grid-row">
            <p><%= scheduler.id %></p>
            <p><%= scheduler.type %></p>
            <p><%= scheduler.name %></p>
            <p><%= @alerts_statuses[scheduler.id]&.dig("state") %></p>
        </div>
    <% end %>
</div>

<table>

    <tbody>
        <% @schedulers.each do |scheduler| %>
            <tr>
                <td><%= scheduler.id %></td>
                <td><%= scheduler.type %></td>
                <td><%= scheduler.name %></td>
                <td><%= @alerts_statuses[scheduler.id]&.dig("state") %>
                <td>
                    <ul>
                        <li>
                            <%= link_to "Edit", "/dashboard/#{scheduler.plural_path_name}/#{scheduler.id}" %>
                        </li>
                        <li>
                            <%= link_to "Access Dashboard (Grafana)", Grafana.dashboard_url(scheduler) %>
                        </li>
                        <li>
                            <% if @alerts_statuses[scheduler.id]&.dig("state") != "paused" %>
                                <%= link_to 'Pause', "/dashboard/schedulers/#{scheduler.id}/pause",
                                data: {:confirm => 'Are you sure?'}, :method => :post %>
                            <% else %>
                                <%= link_to 'Resume', "/dashboard/schedulers/#{scheduler.id}/unpause",
                                data: {:confirm => 'Are you sure?'}, :method => :post %>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to 'Destroy', "/dashboard/schedulers/#{scheduler.id}",
                            data: {:confirm => 'Are you sure?'}, :method => :delete %>
                        </li>
                    </ul>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<script>
    function submitForm() {
        let value = document.getElementById('scheduler-select').elements[0].value;
        window.location.href = `/dashboard/schedulers/new/Scheduler${value}`
    }
</script>