<div class="head-grid">
<% if @schedulers.empty? %>
<h1>Create your first Scheduler</h1>
<% else %>
<h1>Schedulers</h1>
<% end %>

<a id="display-form" class="create-btn" onclick="displayForm()">
    <span>Create</span>
    <img src="/images/dashboard/icons/create.svg">
</a>
</div>

<form id="scheduler-select" class="form-grid">
    <select required="true" class="select-input">
        <option value="Http">HTTP</option>
        <option value="SocketPing">TCP</option>
        <option value="Ssh">SSH</option>
    </select>
    <a class="create-btn" onclick="submitForm()">
        <span>Create</span>
        <img src="/images/dashboard/icons/create.svg">
    </a>
</form>

<% if @schedulers.count.zero? %>
    <div class="resource-info">
        <img src="/images/dashboard/icons/info.png">
        <p>
            A scheduler is the process which allows to periodically executes a task or request.
            See the <a href="https://docs.cronrobot.io/features/schedulers">documentation</a> for more details.
        </p>
    </div>
<% end %>

<div class="table-grid">
    <% @schedulers.each do |scheduler| %>
        <div class="table-grid-row">
            <div class="state state-<%= @alerts_statuses[scheduler.id]&.dig("state")&.downcase %>">
                <p><%= @alerts_statuses[scheduler.id]&.dig("state") %></p>
            </div>
            <p><%= scheduler.schedule %></p>
            <p>
                <a href="/asdf"><%= scheduler.name %></a> 
                (<%= scheduler_human_type(scheduler.type) %>)
            </p>
            <div class="action-icons">
                
            <div class="hover-over-tooltip">
                <a href="<%= Grafana.dashboard_url(scheduler) %>">
                    <img src="/images/dashboard/icons/dashboard.svg">
                    <div class="tooltip-parent">
                        <span class="tooltip">Grafana Dashboard</span>
                    </div>
                </img>
                </a>
            </div>

            <div class="hover-over-tooltip">
                <% if @alerts_statuses[scheduler.id]&.dig("state") != "paused" %>
                    <a data-confirm="Are you sure?" rel="nofollow" href="/dashboard/schedulers/<%= scheduler.id %>/pause" data-method="post">
                        <img src="/images/dashboard/icons/pause.svg">
                        <div class="tooltip-parent">
                            <span class="tooltip">Pause</span>
                        </div>
                        </img>
                    </a>
                <% else %>
                    <a data-confirm="Are you sure?" rel="nofollow" href="/dashboard/schedulers/<%= scheduler.id %>/unpause" data-method="post">
                        <img src="/images/dashboard/icons/resume.svg">
                        <div class="tooltip-parent">
                            <span class="tooltip">Resume</span>
                        </div>
                        </img>
                    </a>
                <% end %>
            </div>

            <div class="hover-over-tooltip">
                <a href="/dashboard/<%= scheduler.plural_path_name %>/<%= scheduler.id %>">
                    <img src="/images/dashboard/icons/edit.svg">
                    <div class="tooltip-parent">
                        <span class="tooltip">Edit</span>
                    </div>
                    </img>
                </a>
            </div>

            <div class="hover-over-tooltip">
                <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/dashboard/schedulers/<%= scheduler.id %>">
                    <img src="/images/dashboard/icons/delete.svg">
                    <div class="tooltip-parent">
                        <span class="tooltip">Delete</span>
                    </div>
                    </img>
                </a>
            </div>

            </div>
        </div>
    <% end %>
</div>

<script>
    function displayForm() {
        document.getElementById('display-form').style.display = 'none';
        document.getElementById('scheduler-select').style.display = 'grid';
    }
    function submitForm() {
        let value = document.getElementById('scheduler-select').elements[0].value;
        window.location.href = `/dashboard/schedulers/new/Scheduler${value}`
    }
</script>