
<%= form_with model: [:dashboard, @scheduler] do |form| %>
  <%= form.hidden_field :project_id %>

  <div class="form-group">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <%= render "dashboard/schedulers/form_schedule", form: form %>

  <div class="form-group">
    <%= form.label "params[url]", "URL" %>
    <%= form.text_field "params[url]", class: "form-control", value: @scheduler.params&.dig("url") %>
  </div>

  <%= render "dashboard/schedulers/form_notification_channels", form: form %>

  <%= form.submit %>
<% end %>