<h1 id="header"></h1>
<%= form_with class: "form-grid", model: [:dashboard, @scheduler] do |form| %>
  <%= form.hidden_field :project_id %>

  <div class="form-group">
    <%= form.text_field :name, class: "form-input", placeholder: "Name" %>
  </div>

  <%= render "dashboard/schedulers/form_schedule", form: form %>

  <div class="form-group">
    <%= form.number_field "params[port]", class: "form-input", placeholder: "Port", value: @scheduler&.params&.dig("port") %>
  </div>

  <div class="form-group">
    <%= form.text_field "params[host]", class: "form-input", placeholder: "Host", value: @scheduler&.params&.dig("host") %>
  </div>

  <%= render "dashboard/schedulers/form_notification_channels", form: form %>

  <%= form.submit :Submit, class: "create-btn" %>
<% end %>

<script>
  if (window.location.href.includes('new')) {
    document.getElementById("header").innerHTML = "Create Socket Ping Scheduler"; 
  } else {
    document.getElementById("header").innerHTML = "Update Socket Ping Scheduler";
  }
</script>