<h1 id="header"></h1>
<%= form_with model: [:dashboard, @scheduler] do |form| %>
  <%= form.hidden_field :project_id %>

  <div class="form-grid">
    <%= form.text_field :name, placeholder: "Name", class: "form-input" %>
  </div>

  <%= render "dashboard/schedulers/form_schedule", form: form %>

  <div class="hover-over-tooltip">
    <div class="form-grid">
      <%= form.text_field "params[url]", class: "form-input", placeholder: "URL (Example: https://mysite.com/)",
        value: @scheduler.params&.dig("url") %>
      <div class="tooltip-parent">
          <span class="tooltip">Resource variables, for example {{ my_variable }}, can be used in this field.</span>
      </div>
    </div>
  </div>

  <fieldset>
    <legend class="sub-heading">Options</legend>
    
    <%= render "dashboard/schedulers/form_timeout", form: form %>
  </fieldset>

  <%= render "dashboard/schedulers/form_notification_channels", form: form %>

  <%= form.submit :Save, class: "create-btn" %>
<% end %>

<script>
  if (window.location.href.includes('new')) {
    document.getElementById("header").innerHTML = "Create HTTP Scheduler";
  } else {
    document.getElementById("header").innerHTML = "Update HTTP Scheduler";
  }
</script>