<h1 id="header"></h1>
<%= form_with model: [:dashboard, @scheduler] do |form| %>
  <%= form.hidden_field :project_id %>

  <div class="form-grid">

    <% # Example label %>
    <% if false %>
    <div class="input-with-label">
      <label>Name</label>
      <%= form.text_field :name, class: "form-input" %>
    </div>
    <% end %>

    <%= form.text_field :name, class: "form-input", placeholder: "Name" %>

  </div>

  <%= render "dashboard/schedulers/form_schedule", form: form %>

  <div class="form-grid">
    

    <%= form.text_field "params[host]", class: "form-input", placeholder: "Host (hostname or IP)", value: @scheduler&.params&.dig("host") %>
    <%= form.number_field "params[port]", class: "form-input", placeholder: "Port", value: @scheduler&.params&.dig("port") %>

  </div>

  <%= render "dashboard/schedulers/form_notification_channels", form: form %>

  <%= form.submit :Save, class: "create-btn" %>
<% end %>

<script>
  if (window.location.href.includes('new')) {
    document.getElementById("header").innerHTML = "Create TCP Scheduler"; 
  } else {
    document.getElementById("header").innerHTML = "Update TCP Scheduler";
  }
</script>