<h1 id="header"></h1>
<%= form_with class: "form-grid", model: [:dashboard, @scheduler] do |form| %>
  <%= form.hidden_field :project_id %>

  <div class="form-group">
    <%= form.text_field :name, placeholder: "Name", class: "form-input" %>
  </div>

  <%= render "dashboard/schedulers/form_schedule", form: form %>

  <div class="form-group">
    <%= form.text_field "params[url]", class: "form-input", placeholder: "URL", value: @scheduler.params&.dig("url") %>
  </div>

  <%= render "dashboard/schedulers/form_notification_channels", form: form %>

  <%= form.submit :Submit, class: "create-btn" %>
<% end %>

<script>
  if (window.location.href.includes('new')) {
    document.getElementById("header").innerHTML = "Create HTTP Scheduler";
  } else {
    document.getElementById("header").innerHTML = "Update HTTP Scheduler";
  }
</script>