<h1 id="header"></h1>
<%= form_with model: [:dashboard, @scheduler] do |form| %>
  <%= form.hidden_field :project_id %>

  <div class="form-grid">
    <%= form.text_field :name, class: "form-input", placeholder: "Name" %>
  </div>

  <%= render "dashboard/schedulers/form_schedule", form: form %>

  <div class="form-group">
    <p class="sub-heading">SSH Credentials</p>
    <%= form.select "params[resource_id]", (Resource.accessible_by(@current_user, "ResourceProjectSsh").collect {|p| [ p.params["name"], p.id ] }), {}, multiple: false, class: "select-input" %>
  </div>

  <div class="hover-over-tooltip">
    <div class="form-grid">
      <%= form.text_field "params[command]", class: "form-input", placeholder: "Remote Command", value: @scheduler.params&.dig("command") %>

      <div class="tooltip-parent">
          <span class="tooltip">Resource variables, for example {{ my_variable }}, can be used in this field.</span>
      </div>
    </div>


  </div>

  <%= render "dashboard/schedulers/form_notification_channels", form: form %>

  <%= form.submit :Save, class: "create-btn" %>
<% end %>

<script>
  if (window.location.href.includes('new')) {
    document.getElementById("header").innerHTML = "Create SSH Scheduler";
  } else {
    document.getElementById("header").innerHTML = "Update SSH Scheduler";
  }
</script>