<div class="head-grid">
<h1>Project Resources</h1>

<a href="/dashboard/resources/new" class="create-btn">
    <span>Create</span>
    <img src="/images/dashboard/icons/create.svg">
</a>
</div>

<% if @resources.count.zero? %>
    <div class="resource-info">
        <img src="/images/dashboard/icons/info.png">
        <p>
            Resources are configurations which can be reused within project schedulers. <br />
            Example project resources are variables which can be defined and used in multiple fields, or SSH credentials which can be used to connect to.<br /><br />
            See the <a href="https://docs.cronrobot.io/features/resources">documentation</a> for more details.
        </p>
    </div>
<% end %>

<div class="table-grid">
    <% @resources.each do |resource| %>
        <div class="table-grid-row">
            <div class="state">
                <p><%= resource.id %></p>
            </div>
            <p><%= resource_type_friendly resource.sub_type %></p>
            <p><%= resource.params.dig("name") %></p>
            <div class="action-icons">
            <div class="hover-over-tooltip">
                <a href="/dashboard/resources/<%= resource.id %>">
                    <img src="/images/dashboard/icons/edit.svg">
                        <div class="tooltip-parent">
                            <span class="tooltip">Edit</span>
                        </div>
                    </img>
                </a>
            </div>
            <div class="hover-over-tooltip">
                <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/dashboard/resources/<%= resource.id %>">
                    <img src="/images/dashboard/icons/delete.svg">
                    <div class="tooltip-parent">
                        <span class="tooltip">Delete</span>
                    </div>
                    </img>
                </a>
            </div>
            </div>
        </div>
    <% end %>
</div>