
<%= form_with url: "/dashboard/resources/#{@resource.id}", model: [:dashboard, @resource] do |form| %>

  <input type="hidden" name="_method" value="patch">

  <div class="form-group">
    <%= form.label "params[name]", "Name" %>
    <%= form.text_field "params[name]", value: @resource.params.dig("name"), class: "form-control" %>
  </div>

  <%= render "dashboard/resources/#{@resource.sub_type}", form: form %>

  <div class="form-group">
    
  </div>

  <%= form.submit %>
<% end %>
