
<%= form_with url: "/dashboard/resources/#{@resource.id}", model: [:dashboard, @resource] do |form| %>

  <input type="hidden" name="_method" value="patch">

  <div class="form-group">
    <%= form.label "params[name]", "Name" %>
    <%= form.text_field "params[name]", value: @resource.params.dig("name"), class: "form-control" %>
  </div>

  <!-- TODO - split into partials -->
  <div class="form-group">
    <%= form.label "params[username]", "Username" %>
    <%= form.text_field "params[username]", value: @resource.params.dig("username"), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "params[host]", "Hostname" %>
    <%= form.text_field "params[host]", value: @resource.params.dig("host"), class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "params[port]", "Port" %>
    <%= form.number_field "params[port]", value: @resource.params.dig("port") || 22, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "params[private_key]", "Private Key" %>
    <%= form.text_area "params[private_key]", class: "form-control" %>
  </div>

  <div class="form-group">
    
  </div>

  <%= form.submit %>
<% end %>
