<h1>Edit Notification Channel</h1>
<%= form_with class: "form-grid", model: [:dashboard, @notification_channel] do |form| %>
  <%= form.hidden_field :project_id %>

  <div class="form-group">
    <%= form.text_field :name, class: "form-input", placeholder: "Name" %>
  </div>

  <% @fields.each do |field| %>
    <div class="form-group">
      <% case field[:type] %>
      <% when "text_field" %>
        <%= form.text_field "configs[#{field[:name]}]",
          placeholder: field[:placeholder],
          value: @notification_channel.configs&.dig(field[:name]),
          class: "form-input" %>
      <% end %>
    </div>
  <% end %>

  <%= form.submit :Submit, class: "create-btn" %>
<% end %>
