<h1>Edit Notification Channel</h1>
<%= form_with class: "form-grid", model: [:dashboard, @notification_channel] do |form| %>
  <%= form.hidden_field :project_id %>

  <div class="form-group">
    <%= form.text_field :name, class: "form-input", placeholder: "Name" %>
  </div>

  <!-- TODO - split into partials -->
  <div class="form-group">
    <%= form.text_field "configs[addresses]", placeholder: "Email addresses (comma separated)", value: @notification_channel.configs&.dig("addresses"), class: "form-input" %>
  </div>

  <%= form.submit :Submit, class: "create-btn" %>
<% end %>
