<!DOCTYPE html>
<html>
  <head>
    <title>CronRobot Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="index, follow" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/flash_errors" %>
  <nav>
    <div>
      <img id="logo" src="/images/BigLogo.svg">
    </div>
    <div class="menubar">
    <a href="/dashboard/schedulers" class="menu-icon-parent">
      <img src="/images/dashboard/calendar.svg" class="menu-icon">
      <p>Schedulers</p>
    </a>
    <a href="/dashboard/resources" class="menu-icon-parent">
      <img src="/images/dashboard/settings.svg" class="menu-icon">
      <p>Resources</p>
    </a>
    <a href="/dashboard/notification_channels" class="menu-icon-parent">
      <img src="/images/dashboard/bell.svg" class="menu-icon">
      <p>Notifications</p>
    </a>
    <a href="/dashboard/support" class="menu-icon-parent">
      <img src="/images/dashboard/help-circle.svg" class="menu-icon">
      <p>Support</p>
    </a>
    <a href="/auth/logout" class="menu-icon-parent">
      <img src="/images/dashboard/log-out.svg" class="menu-icon">
      <p>Logout</p>
    </a>
    </div>
  </nav>

  <div id="main">
    <%= yield %>
  </div>


  </body>
</html>