<!DOCTYPE html>
<html>
  <head>

    <title>CronRobot — Dashboard</title>
    <meta name="title" content="CronRobot — Dashboard">
    <meta name="description" content="The open task scheduling and monitoring service">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.cronrobot.io">
    <meta property="og:title" content="CronRobot — Dashboard">
    <meta property="og:description" content="The open task scheduling and monitoring service">
    <meta property="og:image" content="https://raw.githubusercontent.com/cronrobot/cronrobot/master/www-cronrobot/assets/Design%20Assets/3D%20Renders/Big%20Logo.png">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.cronrobot.io">
    <meta property="twitter:title" content="CronRobot — Dashboard">
    <meta property="twitter:description" content="The open task scheduling and monitoring service">
    <meta property="twitter:image" content="https://raw.githubusercontent.com/cronrobot/cronrobot/master/www-cronrobot/assets/Design%20Assets/3D%20Renders/Big%20Logo.png">
  
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="robots" content="index, follow" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/flash_errors" %>
  <nav>
    <div class="nav-top">
      <a href="/dashboard">
        <img id="logo" src="/images/BigLogo.svg">
      </a>

      <div>
        <a class="nav-links <%= section_active("scheduler") %>" href="/dashboard/schedulers">Schedulers</a>
        <a class="nav-links <%= section_active("resource") %>" href="/dashboard/resources">Resources</a>
        <a class="nav-links <%= section_active("notification_channel") %>" href="/dashboard/notification_channels">Notifications</a>
        <a class="nav-links <%= section_active("support") %>" href="/dashboard/support">Support</a>
        <a class="nav-links" href="/auth/logout">Logout</a>
      </div>

      <div class="project-selection">
      <p class="project-tag"><a href="/dashboard/projects">Project</a>:</p>
        <select id="project-select" onchange="changeProject()" class="project-select-input">
            <% @accessible_projects.each do |projects| %>
              <option value="?selected_project_id=<%= projects.id %>"><%= projects.name %></option>
            <% end %>
            <option value="/dashboard/projects">Manage Projects</option>
        </select>
      </div>
    </div>
    
    <div class="menubar">
    <a id="first-item-nav" href="/dashboard/schedulers"
      class="menu-icon-parent <%= section_active("scheduler") %>">
      <img src="/images/dashboard/calendar.svg" class="menu-icon">
      <p>Schedulers</p>
    </a>
    <a href="/dashboard/resources" class="menu-icon-parent <%= section_active("resource") %>">
      <img src="/images/dashboard/settings.svg" class="menu-icon">
      <p>Resources</p>
    </a>
    <a href="/dashboard/notification_channels" class="menu-icon-parent <%= section_active("notification_channel") %>">
      <img src="/images/dashboard/bell.svg" class="menu-icon">
      <p>Notifications</p>
    </a>
    <a href="/dashboard/support" class="menu-icon-parent <%= section_active("support") %>">
      <img src="/images/dashboard/help-circle.svg" class="menu-icon">
      <p>Support</p>
    </a>
    <a href="/auth/logout" class="menu-icon-parent">
      <img src="/images/dashboard/log-out.svg" class="menu-icon">
      <p>Logout</p>
    </a>
    </div>

  </nav>

  <div id="main">
    <%= yield %>
  </div>

  <script>
      function changeProject() {
        let url = document.getElementById('project-select').selectedOptions[0].value;
        window.location.href = url;
      }
  </script>
  </body>
</html>