<!DOCTYPE html>
<html>
  <head>
    <title>CronRobot Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'dashboard', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="dashboard-wrapper">
      <nav id="dashboard-sidebar">
        <div class="sidebar-header">
            <h3>CronRobot</h3>
        </div>

        <ul class="nav flex-column" id="dashboard-sidebar-links">
          <li class="nav-item">
            <a href="/dashboard/schedulers"></a>
            <a class="nav-link active" href="/dashboard/schedulers">
              <i class="fas fa-2x fa-calendar" aria-hidden="true"></i>
              <br />
              Schedulers
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/resources">
              <i class="fa fa-cogs fa-2x" aria-hidden="true"></i>
              <br />
              Resource Configs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard/notification_channels">
              <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
              <br />
              Notification Channels
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/dashboard/support">
              <i class="fa fa-question-circle fa-2x"></i>
              <br />
              Support
            </a>
          </li>
        </ul>
      </nav>

      <div id="dashboard-content" class="">
        <div class="pull-right"><%= button_to 'Logout', '/auth/logout', method: :get %></div>
        <div>Project: <%= @project.name %> (<%= @project.id %>)</div>

        <%= render "layouts/flash_errors" %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
